[submodule "Libraries/kicad_lib_tmk"]
	path = Libraries/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
[submodule "Libraries/keyboard_parts.pretty"]
	path = Libraries/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "Libraries/keebs.pretty"]
	path = Libraries/keebs.pretty
	url = https://github.com/egladman/keebs.pretty
